{{ $sections := .Page.Resources.Match "sections/*md" }}

<div class="row">
    <div class="sections">
        <div class="sections-main">
            {{ range $index, $section := $sections }}
                <div class="sections-section container" id="{{ $section.Params.section_id }}">
                    <div class="section-heading">
                        <p class="section-heading-number">{{ add $index 1 }}</p>
                        <h3 class="section-heading-title">{{ $section.Title }}</h3>
                    </div>
                </div>
                <div class="sections-content">
                    <div class="sections-content-body">
                        {{ $section.Content }}
                    </div>
                    {{ if $section.Params.quote }}
                        <blockquote class="sections-content-quote">
                            {{ $dashed_author := printf "&mdash; %s" $section.Params.quote_author }}
                            <div class="sections-content-quote-icon-wrapper">
                                <img class="sections-content-quote-icon" src="images/icons/quote-icon.png" alt="" />
                            </div>
                            <p>{{ $section.Params.quote | markdownify }}&rdquo;</p>
                            <cite class="sections-content-quote-author">{{ $dashed_author | markdownify }}</cite>
                        </blockquote>
                    {{ end }}
                </div>
            {{ end }}
        </div>
        <div class="sections-quote-bar"></div>
    </div>
</div>
