/*!
 * Copyright (c) 2021, 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/astro/main.less';
@import '_variables.less';

@import 'components/_cards.less';
@import 'layout/_jumbotron.less';

@import 'base/_utility-classes.less';

.featured-projects {
  align-items: stretch;
}

#footer-end { 
  // Hotfix for horizontal scrolling on .break-container usage in newsletter
  // form. Use negative margins instead.
  overflow-x: hidden;
}

// @todo: Allow to add class
// to https://gitlab.eclipse.org/eclipsefdn/it/webdev/hugo-solstice-theme/-/blob/master/layouts/partials/featured_story.html
#featured-story {
  margin-bottom: 60px;
}


// @todo: Move the following to solstice-assets
// as @featured-section-row-dark-bg: @black;
.featured-section-row-dark-bg {
  background-color: @black;

  .h2,
  .h3 { // Should just add .hX alongside the hX rules in EFSA
    color: @white;
  }
}

// container-class to center align h1
// see: /sponsor/collaboration/
.center-align-h1{
  h1{
    text-align: center;
    padding-bottom:35px;
    padding-top:25px;
  }
}

