<!--
  Copyright (c) 2023 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<div class="row margin-top-60 margin-bottom-60">
  <div class="container">
    <div class="col-md-6 display-flex align-items-center justify-content-center match-height-item-by-row">
      <img class="img img-responsive hidden-xs hidden-sm" src="images/orbit.png" alt="" />
    </div>
    <div class="col-md-18 match-height-item-by-row">
      <h1>Project Resources</h1>
      <div class="h2 text-primary-light">
        Get involved in Eclipse projects to help<br aria-hidden="true"/> contribute to their
        success
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-12 bg-neutral-tinted bg-hover-darker">
    <section class="tile-section padding-40 match-height-item-by-row">
      <div class="tile-section-content">
        <h2 class="h3 text-center">Eclipse Foundation Development Process</h2>
        <p>
          This document describes the development process for the Eclipse
          Foundation. In particular, it describes how the Membership at Large,
          the Board of Directors, other constituents of the Ecosystem, and the
          Eclipse Management Organization (EMO) lead, influence, and collaborate
          with Eclipse Projects.
        </p>
      </div>
      <div class="tile-section-end display-flex justify-content-center">
        <a class="btn btn-primary" href="/projects/dev_process/">Learn More</a>
      </div>
    </section>
  </div>

  <div class="col-md-12 bg-neutral-flat-dark bg-hover-darker">
    <section class="tile-section padding-40 match-height-item-by-row">
      <div class="tile-section-content">
        <h2 class="h3 text-center">Eclipse Foundation Project Handbook</h2>
        <p>This document provides you with the information that you need to create a new Eclipse open source project or
          become a committer on an existing one.</p>
      </div>
      <div class="tile-section-end display-flex justify-content-center">
        <a class="btn btn-primary" href="/projects/handbook/">Learn More</a>
      </div>
    </section>
  </div>
</div>

<div class="row padding-top-30 padding-bottom-30">
  <div class="col-md-12 bg-neutral-tinted bg-hover-darker">
    <section class="tile-section padding-40 match-height-item-by-row">
      <div class="tile-section-content">
        <h2 class="h3 text-center">Committer Training</h2>
        <p>Eclipse projects must be transparent, open and meritocratic. Check out these training videos to learn more.
        </p>
      </div>
      <div class="tile-section-end display-flex justify-content-center">
        <a class="btn btn-primary" href="/projects/training/">Learn More</a>
      </div>
    </section>
  </div>
  <div class="col-md-12 bg-neutral-flat-dark bg-hover-darker">
    <section class="tile-section padding-40 match-height-item-by-row">
      <div class="tile-section-content">
        <h2 class="h3 text-center">EMO Office Hours</h2>
        <p>The Eclipse Foundation Projects Team schedules events to discuss the <a href="/projects/dev_process">Eclipse
          Foundation Development Process</a>, the <a href="/org/documents/Eclipse_IP_Policy.pdf">Eclipse Foundation
          Intellectual Property
          Policy</a> Policy and <a href="/projects/handbook/#ip">Eclipse Foundation Due
          Diligence
          Process</a>, and other related topics.
        </p>
      </div>
      <div class="tile-section-end padding-top-20 display-flex justify-content-center">
        <div class="btn-group">
          <a class="btn btn-neutral" href="/projects/calendar/">
            See the calendar
          </a>
          <a class="btn btn-primary" href="https://youtube.com/playlist?list=PLg5j2ehoN9bZiqraXU7BeYLLc0VW6jysC">
            Watch previous recordings
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
