<!--
  Copyright (c) 2023 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

{{ $class := .Get "class" }}
{{ $title := .Get "title" }}
{{ $url := .Get "url" }}

<div class="governance-tile {{ $class }}">
  <a href="{{ $url }}">
  <h2 class="h4">{{ $title }}</h2>
  <div>
     {{ .Inner | markdownify }}
  </div>
  </a>
</div>
