/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/
@import (reference) '../../styles.less';

/*
.page-projects-resources{
  h1{
    text-align: center;
  }

  h2{
    text-align: center;
    color: @brand-primary;
    margin-bottom: 25px;
  }

  .col-md-12{
    background-color: #ede8e8;

    padding-bottom:100px;
    h3{
      text-align: center;
    }
    .content{
      padding: 3rem 6rem;
    }
    a.btn {
      margin: auto;
      position: absolute;
      bottom: 20px;
      text-align: center;
      width: fit-content;
      left: 0;
      right: 0;
    }
  }
  .col-md-12:first-child{
    background-color: #d5d5d5;
  }

  .tile-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    &-content {
      flex-grow: 1;
    }

    &-end {
      justify-self: flex-end;
    }
  }
}
*/
