<!-- Delete this file before going to production. Using relative links for testing on staging -->
{{ $footer_section_legal_class := .Params.footer_section_legal_class | default .Site.Params.footer_section_legal_class | default "footer-section col-md-5 col-sm-8" }}
<section id="footer-legal" class="{{ $footer_section_legal_class }}">
  <div class="menu-heading">{{ i18n "footer-legal-section-text" }}</div>
  <ul class="nav">
    <li><a href="/legal/privacy.php">{{ i18n "footer-legal-privacy-policy-text" }}</a></li>
    <li><a href="/legal/termsofuse.php">{{ i18n "footer-legal-terms-use-text" }}</a></li>
    <li><a href="/legal/copyright.php">{{ i18n "footer-legal-copyright-agent-text" }}</a></li>
    <li><a href="/org/documents/Community_Code_of_Conduct.php">{{ i18n "footer-legal-code-of-conduct-text" }}</a></li>
    <li><a href="/legal/">{{ i18n "footer-legal-resources-text" }}</a></li>
    <li><a class="toolbar-manage-cookies" href="#" onclick="event.preventDefault()">{{ i18n "footer-legal-manage-cookies-label" }}</a></li>
  </ul>
</section>
